
    <a routerLink=""><div class="logo_image"></div></a>
    <input type="text" class="search" placeholder="Search" [(ngModel)]="searchRequest" (keyup.enter)="onKeyUp()">
    <div *ngIf ="auth.user$ | async as user ; then inside else outside"></div>
    <ng-template #outside>
        <div class="login" (click)="logIn()"> LOGIN</div>
       
    </ng-template>
    <ng-template #inside>

        <div class="msgIcon"></div>

        <div class="profileIcon">
            <app-logout-popup class="dropdown"></app-logout-popup>
        </div>

        
        
        
    </ng-template>

