body{
    padding:5px;
    width:90%;
    max-width:1440px ;
    margin:auto;
    height: auto;
    overflow: hidden;
}
.logo_image {
	position: relative;
	display: inline-block;
	align-self: left;
height: 66px;
width: 33%;
margin-top: 26px;
margin-left: 20px;
background-image: url(src\assets\LOGO_1.svg);   /* Imported Image from Assets */
background-position: left;
background-repeat: no-repeat;
}
.search{
    position: relative;
	display: inline-block;
width: 21%;
height: 40px;
margin-left: 20%;
vertical-align: 10px;
border: 1px solid #A8A8A8;
box-sizing: border-box;
padding-top: 10px;
text-align: right;
font-family: Cera Pro;
font-style: normal;
font-size: 24px;
line-height: 30px;
padding-bottom: 8px;
padding-right: 5px;

}
.search::placeholder { /* Chrome/Opera/Safari */
    text-align: right;
  font-family: Cera Pro Light;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 8px;
  padding-right: 5px;

  
  color: #A8A8A8;
  }
  
  /* The Login State Buttons */
  .login {
	position: relative;
    display: inline-block;
    margin-left: 15%;
   
font-family: Cera Pro;
font-style: normal;
font-weight:bolder;
font-size: 20px;
line-height: 25px;
color: #4E4E4E;

}
.login:hover {
	position: relative;
    display: inline-block;
    margin-left: 15%;
    cursor: pointer;
font-family: Cera Pro;
font-style: normal;
font-weight: bolder;
font-size: 20px;
line-height: 25px;
color: #f05136;
}

.msgIcon {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 30px;
	margin-left: 15%;
	background :url(src\assets\messageIcon.svg);
}
 .profileIcon {
    cursor: pointer;
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	margin-left: 21px;
	background :url(src\assets\personIcon.svg);
}
  
  .profileIcon .dropdown {
    visibility: hidden;
    width: 250px;
    height: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    top: 110%;
    left: -220%;
    margin-left: -60px;

  background:url(src\assets\callout.svg);
  background-repeat: no-repeat;background-size: 
  cover;padding: 0px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .profileIcon:hover .dropdown {
    visibility: visible;
  }

  