

          <!-- Form to Register new ID -->
        
<div class="col" style="margin-top: 7%; font-size: 2.5vw;font-family: Cera Pro ;">
    <b>Register New User</b>
</div>
  <br>
  <br>
<div style="border: none; font-family: Cera Pro bold">
  <h5 >SignUp</h5>     
</div>
<br>
<br>          

<div class="col-8" style="padding-top: 20px;font-family: Cera Pro; font-size: 16px;">
    
    <form class="basic-details" style="font-size: 18px;" #newForm="ngForm">

        <mat-error>
            {{authError?.message}}
        </mat-error>
        <br>

        <mat-form-field>
            <mat-label>Email Id</mat-label>
            <input 
            required
            minlength=8
            ngModel name="email"
            #email = "ngModel"
            [(ngModel)]="newStudent.email"
            matInput placeholder="Ex. testx@email.com" value=""
            type="text">
            <mat-error *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required"> Required </div>
                <div *ngIf="email.errors.minlength"> minimum {{ email.errors.minlength.requiredLength }} numbers </div>
            </mat-error>
        </mat-form-field>
        
        <br>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input 
            required
            minlength=6
            ngModel name="password"
            #password = "ngModel"
            [(ngModel)]="newStudent.password"
            matInput placeholder="Ex. testingx" value=""
            type="password">
            <mat-error *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors.required"> Required </div>
            <div *ngIf="password.errors.minlength"> minimum {{ password.errors.minlength.requiredLength }} numbers </div>
            </mat-error>
        </mat-form-field>

        <br>
        
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input 
            required
            minlength=6
            ngModel name="Cpassword"
            #Cpassword = "ngModel"
            matInput placeholder="Ex. testingx" value=""
            type="password">
            <mat-error *ngIf="Cpassword.touched && !Cpassword.valid && Cpassword!=password">
                <div *ngIf="password.errors.required"> Required </div>
                <div *ngIf="Cpassword!=password"> Passwords don't Match </div>
                <div *ngIf="password.errors.minlength"> minimum {{ password.errors.minlength.requiredLength }} numbers </div>
                </mat-error>
        </mat-form-field>
          
        <br>

        <mat-form-field>
            <mat-label>Enrollment Number</mat-label>
            <input 
            required
            minlength=8
            ngModel name="Enrollment"
            #Enrollment = "ngModel"
            [(ngModel)]="newStudent.Enrollment"
            matInput placeholder="Ex. 17110032" value=""
            type="text">
            <mat-error *ngIf="Enrollment.touched && !Enrollment.valid">
                <div *ngIf="Enrollment.errors.required"> Required </div>
                <div *ngIf="Enrollment.errors.minlength"> minimum {{ Enrollment.errors.minlength.requiredLength }} numbers </div>
            </mat-error>
        </mat-form-field>

        <br>  

        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input 
            required
            minlength=3
            ngModel name="firstName"
            #firstName = "ngModel"
            [(ngModel)]="newStudent.First_Name"
            matInput placeholder="Ex. Sumit" 
            type="text">
            <mat-error *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required"> Required </div>
                <div *ngIf="firstName.errors.minlength"> minimum {{ firstName.errors.minlength.requiredLength }} letters </div>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="sameLine">
            <mat-label>Last Name</mat-label>
            <input 
            required
            minlength=3
            ngModel name="lastName"
            #lastName = "ngModel"
            [(ngModel)]="newStudent.Last_Name"
            matInput placeholder="Ex. Mustafa" 
            type="text">
            <mat-error *ngIf="lastName.touched && !lastName.valid">
                <div *ngIf="lastName.errors.required"> Required </div>
                <div *ngIf="lastName.errors.minlength"> minimum {{ lastName.errors.minlength.requiredLength }} letters </div>
            </mat-error>
        </mat-form-field>

        <br>
        <br>
        <br>

           

    </form>
        
    <button (click)="signUp()" mat-stroked-button [disabled]="!newForm.valid" >
        Sign Up
    </button>
            
</div>


<div class="col" style="margin-top: 7%; font-size: 2.5vw;font-family: Cera Pro ;">
    <b>All Profiles</b>
</div>

<br>
<br>
<br>

<div *ngIf="profiles?.length > 0; else NoProfiles " >
    <ul>
        <li *ngFor="let profile of profiles">
            <h5>{{profile.id}}</h5><h3>{{profile.Enrollment}}</h3>{{profile.First_Name}}<h4>{{profile.Last_Name}}</h4>
            <button mat-stroked-button color="primary" (click)="editProfile($event,profile)">Edit Profile</button>
            <button mat-raised-button color="warn" (click)="deleteProfile($event,profile)">Delete Profile</button>

            <div *ngIf="editState && profileToEdit.uid==profile.uid">

                <!-- Form to Edit Profile -->
    
                <form #edit="ngForm">
    
                    <mat-form-field>
                        <mat-label>Enrollment Number</mat-label>
                        <input 
                        required
                        minlength=8
                        ngModel name="Enrollment"
                        #Enrollment = "ngModel"
                        [(ngModel)]="student.Enrollment"
                        matInput placeholder="Ex. 17110032" value=""
                        type="text">
                        <mat-error *ngIf="Enrollment.touched && !Enrollment.valid">
                            <div *ngIf="Enrollment.errors.required"> Required </div>
                            <div *ngIf="Enrollment.errors.minlength"> minimum {{ Enrollment.errors.minlength.requiredLength }} numbers </div>
                        </mat-error>
                    </mat-form-field>
      
                    <br>  
    
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input 
                        required
                        minlength=3
                        ngModel name="firstName"
                        #firstName = "ngModel"
                        [(ngModel)]="student.First_Name"
                        matInput placeholder="Ex. Sumit" 
                        type="text">
                        <mat-error *ngIf="firstName.touched && !firstName.valid">
                            <div *ngIf="firstName.errors.required"> Required </div>
                            <div *ngIf="firstName.errors.minlength"> minimum {{ firstName.errors.minlength.requiredLength }} letters </div>
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field class="sameLine">
                        <mat-label>Last Name</mat-label>
                        <input 
                        required
                        minlength=3
                        ngModel name="lastName"
                        #lastName = "ngModel"
                        [(ngModel)]="student.Last_Name"
                        matInput placeholder="Ex. Mustafa" 
                        type="text">
                        <mat-error *ngIf="lastName.touched && !lastName.valid">
                            <div *ngIf="lastName.errors.required"> Required </div>
                            <div *ngIf="lastName.errors.minlength"> minimum {{ lastName.errors.minlength.requiredLength }} letters </div>
                        </mat-error>
                    </mat-form-field>
    
                </form>
    
                <button mat-stroked-button (click)="updateProfile($event, student)" [disabled]="!edit.valid">
                    Update to StudentList
                </button>
    
            </div>
        </li>
        
        
    </ul>
    
</div>
<ng-template #NoProfiles>
    There Are No Items To View
</ng-template>





