<div class="col-8" style="padding-top: 20px;font-family: Cera Pro; font-size: 16px;">
    
  <form class="basic-details" style="font-size: 18px;" #loginForm="ngForm">

    <mat-error>
      {{authError?.message}}
  </mat-error>
      <br>

      <mat-form-field>
          <mat-label>Email Id</mat-label>
          <input 
          required
          minlength=8
          ngModel name="email"
          #email = "ngModel"
          [(ngModel)]="Email"
          matInput placeholder="Ex. testx@email.com" value=""
          type="text">
          <mat-error *ngIf="email.touched && !email.valid">
              <div *ngIf="email.errors.required"> Required </div>
              <div *ngIf="email.errors.minlength"> minimum {{ email.errors.minlength.requiredLength }} numbers </div>
          </mat-error>
      </mat-form-field>
      
      <br>

      <mat-form-field>
          <mat-label>Password</mat-label>
          <input 
          required
          minlength=6
          ngModel name="password"
          #password = "ngModel"
          [(ngModel)]="Password"
          matInput placeholder="Ex. testingx" value=""
          type="password">
          <mat-error *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.required"> Required </div>
          <div *ngIf="password.errors.minlength"> minimum {{ password.errors.minlength.requiredLength }} numbers </div>
          </mat-error>
      </mat-form-field>

      <br>
      <br>
      <br>

  </form>
      
  <button (click)="logIn()" mat-stroked-button [disabled]="!loginForm.valid" >
      Sign Up
  </button>
          
</div>