<div style="border: none; font-family: Cera Pro bold">
    <h5 >LOGIN</h5>     
</div>
<div style=" font-family: Cera Pro Regular; font-size: 18px;">
    <label>Enrollment Number</label>
    <input type="email" style="background-color: #F3F3F3; border-radius: 10px;">
  <br>
    <label>Possword</label>
    <input type="password" style="background-color: #F3F3F3; border-radius: 10px;">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
 <br>
    <div >
      <input type="checkbox">
      <label>Remember Me</label>
    </div>
</div>
<div style="border: none; font-family: Cera Pro Regular;width: 10%">
    <button type="button" class="btn btn-danger" style="width: 75%;background: #F05136;border-radius: 10px">LOG IN</button>
</div>
