<div class="nav_bar">
    
    <a routerLink="list/First"  routerLinkActive="selected"
    (click)="navViewMode='First'; batchYear=1" 
    class='option'>
                   1st Year
    </a>
  
      <div class="nav_seprator" ></div>
  
    <a routerLink="list/Second" routerLinkActive="selected" 
    (click)="navViewMode='Second'; batchYear=2" 
    class='option'>
                   2nd Year
    </a>
  
      <div class="nav_seprator"></div>
  
    <a routerLink="list/Third" routerLinkActive="selected"
    (click)="navViewMode='Third'; batchYear=3" 
    class='option'>  
                  3rd Year
    </a>
  
      <div class="nav_seprator"></div>
  
    <a routerLink="list/Fourth" routerLinkActive="selected"
    (click)="navViewMode='Fourth'; batchYear=4" 
    class='option'>
                   4th Year
    </a>
  
      <div class="nav_seprator"></div>
  
    <a routerLink="list/Fifth" routerLinkActive="selected"
    (click)="navViewMode='Fifth'; batchYear=5" 
    class='option'>
                   5th Year
    </a>
  
      <div class="nav_seprator"></div>
  
    <a routerLink="list/Articles" routerLinkActive="selected"
    (click)="navViewMode='Articles'; batchYear=-1" 
    class='option'>
                  Articles
    </a>
  
      <div class="nav_seprator"></div>
  
    <a routerLink="list/Faculty" routerLinkActive="selected"
    (click)="navViewMode='Faculty'; batchYear=-1"
    class='option'>
                   Faculty
    </a>
  
  </div>
  
  <div *ngIf="batchYear>0;  " 
    class="heading">
      BATCH OF
      <div style="color: #F05136;opacity: 40%; display: inline;"> 
      {{2020-batchYear}}-{{25-batchYear}}
      </div>
  </div>
  
  <div *ngIf="batchYear==-1" 
    class="heading">
    {{navViewMode}}
  </div>
  
    <hr>
  
  <div [ngSwitch]="navViewMode">
      
      <div *ngSwitchCase="'First'">
        <h4>1st Year Selected</h4>
      </div>
      <div *ngSwitchCase="'Second'">
        <h4>2nd Year Selected</h4>
      </div>
      <div *ngSwitchCase="'Third'">
        <h4>3rd Year Selected</h4>
      </div>
      <div *ngSwitchCase="'Fourth'">
        <h4>4th Year Selected</h4>
      </div>
      <div *ngSwitchCase="'Fifth'">
        <h4>5th Year Selected</h4>
      </div>
      <div *ngSwitchCase="'Faculty'">
        <h4>Faculty Selected</h4>
      </div>
      <div *ngSwitchCase="'Articles'">
        <h4>Articles Selected</h4>
      </div>
      <div *ngSwitchDefault>
        <h4>Home PAGE Selected</h4>
      </div>
  
  </div>
    <hr>
  
    
    
  
  
